.mapa {
  width: 100%;
  height: 480px;
  border: 5px solid;
}
.info {
  color: #fff;
  background-color: #fcfff5;
}
h1 {
  color: #193441;
  font-weight: bolder;
}
body {
  background-color: #fcfff5;
  color: #3e606f;
}
.chart {
  border: 5px solid;
}
.jumbotron {
  background-image: url("http://lorempixel.com/g/640/480/people/");
  color: #3e606f;
}
