.mapa
  width 100%
  height 100%
  position absolute !important
  top 0px
  left 0px
.info
  position absolute
  bottom 10%
  right: 5%
  color: white
  background-color: rgb(57, 126, 140)
  opacity: 0.8
  padding 10px
  border-radius: 5px
