encabezado = #193441
fondo = #FCFFF5
texto = #3E606F
sombra = #91AA9D
.mapa
  width 100%
  height 480px
  border: 5px solid
.info
  color: white
  background-color: fondo
//  border-radius: 5px
//.chart
  //opacity: 0.8 !important
h1
  color: encabezado
  font-weight: bolder
body
  background-color: fondo
  color: texto
.chart
    border: 5px solid
.jumbotron
  background-image: url("http://lorempixel.com/g/640/480/people/");
  color: texto
